// Background color
$background-color: (
  loading: map-get($colors, '12-119-248'),
  upgrade-app: map-get($colors, '0-0-0'),
);

// Border color
$border-color: (
  header-bottom: map-get($colors, '225-225-225'),
  footer-top: map-get($colors, '225-225-225'),
);

// Breakpoints
$breakpoints: (
  xsmall: 480px,
  small: 768px,
  medium: 960px,
  large: 1280px,
  xlarge: 1600px,
  xxlarge: 1920px,
);

// Text color
$text-color: (
  base: map-get($colors, '032-032-032'),
  error: map-get($colors, '204-0-1'),
  link: map-get($colors, '12-119-248'),
  link-footer: map-get($colors, '30-30-30'),
  link-hover: map-get($colors, '12-119-248'),
  link-visited: map-get($colors, '12-119-248'),
  logo: map-get($colors, '12-119-248'),
  upgrade-app: map-get($colors, '225-225-225'),
  upgrade-refresh-button: map-get($colors, '12-119-248'),
);

// Text decoration
$text-decoration: (
  link: none,
  link-hover: none,
);

// Font family
$font-family: (
  base: "'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif",
  title: "'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif",
);
